@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;
html,
body,
:root {
	height: 100%;
	background: #fff;
}
.navProfileDropdown > ul {
	padding-bottom: 0 !important;
	padding-top: 0 !important;
}
.navProfileDropdown > ul > .h-px {
	margin-bottom: 0 !important;
	margin-top: 0 !important;
	padding-bottom: 0 !important;
	padding-top: 0 !important;
}
.token.plain {
	padding: 0;
	width: 0 !important;
}
.prism-code {
	--tw-bg-opacity: 1;
	background-color: rgb(31 41 55 / var(--tw-bg-opacity)) !important;
}

.dot-bg {
	--tw-bg-opacity: 1;
	--bg-color: #ccc;
	--line-color-1: rgb(249 250 251 / var(--tw-bg-opacity));
	--line-color-2: rgb(209 213 219 / var(--tw-bg-opacity));

	background-color: var(--bg-color);
	background-image: radial-gradient(var(--line-color-2) 1px, var(--line-color-1) 1px);
	background-size: 5px 5px;
}
.dark.dot-bg,
.dark .dot-bg {
	--tw-bg-opacity: 1;
	--bg-color: #ccc;
	--line-color-1: rgb(17 24 39 / var(--tw-bg-opacity));
	--line-color-2: rgb(31 41 55 / var(--tw-bg-opacity));

	background-color: var(--bg-color);
	background-image: radial-gradient(var(--line-color-2) 1px, var(--line-color-1) 1px);
	background-size: 5px 5px;
}
/* .react-flow__minimap {
	border: 1px solid #999;
	border-radius: 10px;
} */
.react-flow__attribution {
	display: none;
}
.bg-popover {
	--tw-bg-opacity: 1;
	--line-color-1: rgb(17 24 39 / var(--tw-bg-opacity));
	background-color: rgb(17 24 39 / var(--tw-bg-opacity));
}
